@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Unbounded:wght@300&display=swap');

:root{
    --primeira-cor:#0081C9;
    --segunda-cor:#5BC0F8;
    --segunda-cor-hover:#86E5FF;
    --terceira-cor:#FFC93C;
}

*{
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    color: var(--terceira-cor);
}

body{
    background-color: var(--primeira-cor);
    margin: 0;
    padding: 0;
}
