@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Unbounded:wght@300&display=swap');

:root{
    --primeira-cor:#0081C9;
    --segunda-cor:#5BC0F8;
    --segunda-cor-hover:#86E5FF;
    --terceira-cor:#FFC93C;
}

*{
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    color: var(--terceira-cor);
}

body{
    background-color: var(--primeira-cor);
    margin: 0;
    padding: 0;
}

body.site{
        display: flex;
        flex-direction: column;
        min-height: 100vh;  
    }
body.site .container{
        flex-grow: 1;
    }
.cabecalho {
        margin: 2% 10% 2% 10%;  
        font-size: 1.3rem;
        line-height: 1.5rem;
    }
    
.cabecalho nav {
            display: flex;
            gap: 20px;
        }
    
.cabecalho nav a {
                text-decoration: none;
                color: var(--terceira-cor);
            }
