:root {
    --primeira-cor: #FFEBEB;
    --segunda-cor: #FC2947;
    --terceira-cor: #FE6244;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--primeira-cor);
    color: var(--terceira-cor);
    font-family: 'Montserrat', sans-serif;
}

    .site {
        display: flex;
        flex-direction: column;
        min-height: 100vh;

     }

    .site .container {
        flex-grow: 1;
    }

.cabecalho {
    margin: 2% 10% 2% 10%;  
}

    .cabecalho nav {
        display: flex;
        gap: 20px;
    }

        .cabecalho nav a {
            text-decoration: none;
            color: var(--terceira-cor);
        }

.container {
    display: flex;
